{% extends 'base.html.twig' %}

{% block title %}Modification de la réservation {{ reservations_rental.id }}{% endblock %}

{% block body %}
    <div class="contentMargin d-flex flex-column align-items-center justify-content-center mb-5">
        <h1>Modification de la réservation {{ reservations_rental.id }}</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="d-flex gap-2">
            <button class="btn-lightGreen2">Mettre à jour</button>
            <a href="{{ path('app_reservations_rentals_index') }}" class="btn-yellow">Revenir à la liste</a>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}
