{% extends 'base.html.twig' %}

{% block title %}Tous les événements{% endblock %}

{% block body %}
    <div class="contentMargin d-flex justify-content-center flex-column align-items-center">
        <h3>Panier</h3>

        {% if cartElements %}

            {% set rentals = cartElements|filter(element => element.type == 'rental') %}
            {% set events = cartElements|filter(element => element.type == 'event') %}

            {% if rentals is not empty %}
                <h4>Logements</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                        <th>Prix par jour</th>
                        <th>Prix total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for elem in rentals %}
                        <tr>
                            <td class="align-middle">{{ elem.rental.id }}</td>
                            <td class="align-middle"><a href="{{ path('app_rental', {id: elem.rental.id }) }}">{{ elem.rental.title }}</a></td>
                            <td class="align-middle">{{ elem.dateStart|date("d/m/Y") }}</td>
                            <td class="align-middle">{{ elem.dateEnd|date("d/m/Y") }}</td>
                            <td class="align-middle">
                                {% if elem.rental.isOnPromotion %}
                                    {{ (elem.rental.pricePerDay * 0.9)|round(2, 'floor')|number_format(2, ',', '') }}€
                                {% else %}
                                    {{ elem.rental.pricePerDay|round(2, 'floor')|number_format(2, ',', '') }}€
                                {% endif %}
                            </td>
                            <td class="align-middle">
                                {% set days = elem.dateEnd.diff(elem.dateStart).days + 1 %}
                                {% if elem.rental.isOnPromotion %}
                                    {% set dailyPrice = (elem.rental.pricePerDay * 0.9)|round(2, 'floor') %}
                                {% else %}
                                    {% set dailyPrice = elem.rental.pricePerDay|round(2, 'floor') %}
                                {% endif %}

                                {{ (days * dailyPrice)|number_format(2, ',', '') }}€
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            {% endif %}

            {% if events is not empty %}
                <h4>Événements</h4>
                <table class="table align-middle-table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Image</th>
                        <th>Nom</th>
                        <th>Nombre de places</th>
                        <th>Prix par personne</th>
                        <th>Prix total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for elem in events %}
                        <tr>
                            <td class="align-middle">{{ elem.event.id }}</td>
                            <td class="align-middle">
                                <img src="{{ asset('styles/img/' ~ elem.image.getSrc()) }}" alt="{{ asset('styles/img/' ~ elem.image.getAlt()) }}" class="iconImage rounded-4">
                            </td>
                            <td class="align-middle"><a href="{{ path('app_event', {id:elem.event.id }) }}">{{ elem.event.title }}</a></td>
                            <td class="align-middle">{{ elem.nbPlaces }}</td>
                            <td class="align-middle">
                                {{ elem.event.price|number_format(2, ',', '') }}€
                            </td>
                            <td class="align-middle">
                                {{ (elem.event.price * elem.nbPlaces)|number_format(2, ',', '') }}€
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% set totalPanier = 0 %}

            {% for elem in rentals %}
                {% set days = elem.dateEnd.diff(elem.dateStart).days + 1 %}
                {% if elem.rental.isOnPromotion %}
                    {% set dailyPrice = (elem.rental.pricePerDay * 0.9)|round(2, 'floor') %}
                {% else %}
                    {% set dailyPrice = elem.rental.pricePerDay|round(2, 'floor') %}
                {% endif %}
                {% set totalPanier = totalPanier + (days * dailyPrice) %}
            {% endfor %}

            {% for elem in events %}
                {% set totalPanier = totalPanier + (elem.event.price * elem.nbPlaces) %}
            {% endfor %}

            <div class="mt-4 text-end">
                <h5>Total du panier : <strong>{{ totalPanier|number_format(2, ',', '') }}€</strong></h5>
            </div>

            <a href="{{ path('app_reset_cart') }}" class="btn btn-red">Vider le panier</a>
        {% else %}
            <p class="alert alert-secondary m-3">Panier vide.</p>
        {% endif %}
    </div>
{% endblock %}
