{% extends 'base.html.twig' %}

{% block title %}Tous les événements{% endblock %}

{% block body %}
    <div class="contentMargin d-flex justify-content-center flex-column align-items-center gap-3">
        <h3>Panier</h3>

        {% if cartElements %}

            {% set rentals = cartElements|filter(element => element.type == 'rental') %}
            {% set events = cartElements|filter(element => element.type == 'event') %}

            {% if rentals is not empty %}
                <h4>Logements</h4>
                <p class="alert alert-secondary">Pour tous les logements, une caution de 50 € vous est demandée. Si nous jugeons que le logement rendu est suffisamment propre, la caution vous sera restituée.</p>
                <table class="table w-75">
                    <thead>
                    <tr>
                        <th class="text-center">Image</th>
                        <th class="text-center">Nom</th>
                        <th class="text-center">Date de début</th>
                        <th class="text-center">Date de fin</th>
                        <th class="text-center">Prix par jour</th>
                        <th class="text-center">Prix total TTC</th>
                        <th class="text-center">Caution de nettoyage</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for elem in rentals %}
                        <tr>
                            <td class="align-middle text-center">
                                <img src="{{ asset('styles/img/' ~ elem.image.getSrc()) }}" alt="{{ asset('styles/img/' ~ elem.image.getAlt()) }}" class="iconImage rounded-3">
                            </td>
                            <td class="align-middle"><a href="{{ path('app_rental', {id: elem.rentalId }) }}">{{ elem.rentalTitle|capitalize }}</a></td>
                            <td class="align-middle text-center">{{ elem.dateStart|date("d/m/Y") }}</td>
                            <td class="align-middle text-center">{{ elem.dateEnd|date("d/m/Y") }}</td>
                            <td class="align-middle text-center">
                                {% if elem.rentalIsOnPromotion %}
                                    {{ (elem.rentalPricePerDay * 0.9)|round(2, 'floor')|number_format(2, ',', '') }}€
                                {% else %}
                                    {{ elem.rentalPricePerDay|round(2, 'floor')|number_format(2, ',', '') }}€
                                {% endif %}
                            </td>
                            <td class="align-middle text-center">
                                {% set days = elem.dateEnd.diff(elem.dateStart).days + 1 %}
                                {% if elem.rentalPricePerDay %}
                                    {% set dailyPrice = (elem.rentalPricePerDay * 0.9)|round(2, 'floor') %}
                                {% else %}
                                    {% set dailyPrice = elem.rentalPricePerDay|round(2, 'floor') %}
                                {% endif %}

                                {% set totalRentalttc = days * dailyPrice %}
                                {% set totalRentalht = (totalRentalttc / 1.1) %}
                                {% set totalRentaltva = totalRentalttc - totalRentalht %}

                                {{ totalRentalttc|number_format(2, ',', '') }}€<br>
                                ({{ totalRentalht|number_format(2, ',', '') }}€ HT + {{ totalRentaltva|number_format(2, ',', '') }}€ TVA)

                            </td>
                            <td class="align-middle text-center" title="Si nous jugeons que le logement rendu est assez propre, la caution vous sera rendue">
                                50€
                            </td>
                            <td class="align-middle text-center">
                                <a href="{{ path('app_delete_element_cart', {id: elem.id}) }}" class="btn btn-red">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            {% endif %}

            {% if events is not empty %}
                <h4>Événements</h4>
                <table class="table w-75 align-middle-table">
                    <thead>
                    <tr>
                        <th class="text-center">Image</th>
                        <th class="text-center">Nom</th>
                        <th class="text-center">Nombre de places</th>
                        <th class="text-center">Prix par personne</th>
                        <th class="text-center">Prix total TTC</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for elem in events %}
                        <tr>
                            <td class="align-middle text-center">
                                <img src="{{ asset('styles/img/' ~ elem.image.getSrc()) }}" alt="{{ asset('styles/img/' ~ elem.image.getAlt()) }}" class="iconImage rounded-3">
                            </td>
                            <td class="align-middle"><a href="{{ path('app_event', {id:elem.eventId }) }}">{{ elem.eventTitle|capitalize }}</a></td>
                            <td class="align-middle text-center">{{ elem.nbPlaces }}</td>
                            <td class="align-middle text-center">
                                {{ elem.eventPrice|number_format(2, ',', '') }}€
                            </td>
                            <td class="align-middle text-center">
                                {% set totalEventTTC = elem.eventPrice * elem.nbPlaces %}
                                {% set totalEventHT = totalEventTTC / 1.2 %}
                                {% set totalEventTVA = totalEventTTC - totalEventHT %}

                                {{ totalEventTTC|number_format(2, ',', '') }}€<br>
                                ({{ totalEventHT|number_format(2, ',', '') }}€ HT + {{ totalEventTVA|number_format(2, ',', '') }}€ TVA)

                            </td>
                            <td class="align-middle text-center">
                                <a href="{{ path('app_delete_element_cart', {id: elem.id}) }}" class="btn btn-red">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% set totalPanier = 0 %}

            {% for elem in rentals %}
                {% set days = elem.dateEnd.diff(elem.dateStart).days + 1 %}
                {% if elem.rentalIsOnPromotion %}
                    {% set dailyPrice = (elem.rentalPricePerDay * 0.9)|round(2, 'floor') %}
                {% else %}
                    {% set dailyPrice = elem.rentalPricePerDay|round(2, 'floor') %}
                {% endif %}
                {% set totalPanier = totalPanier + ((days * dailyPrice)+50) %}
            {% endfor %}

            {% for elem in events %}
                {% set totalPanier = totalPanier + (elem.eventPrice * elem.nbPlaces) %}
            {% endfor %}

            <div class="mt-4 text-end">
                <h5 class="text-center">Total du panier : <strong>{{ totalPanier|number_format(2, ',', '') }}€</strong></h5>
                <h6 class="text-center">Vous recevrez <b>{{ (totalPanier / 100)|round(0, 'floor') }} points</b>.</h6>
            </div>

            {% if not app.user %}
                <p class="alert alert-danger">Vous devez être connecté pour pouvoir valider votre panier.</p>
            {% else %}
                {% if not app.user.isEmailAuthentificated() %}
                    <p class="alert alert-danger">Votre email doit être vérifié pour pouvoir valider votre panier.</p>
                {% endif %}
            {% endif %}



            <div class="d-flex gap-2">
                <a href="{{ path('app_reset_cart') }}" class="btn btn-red m-3">Vider le panier</a>

                <a href="{{ path('app_payment_stripe') }}" class="btn btn-lightGreen2 m-3
                {% if not app.user or not app.user.isEmailAuthentificated() %}
                    disabledItem
                {% endif %}
                ">Valider le panier</a>
            </div>
        {% else %}
            <p class="alert alert-secondary m-3">Panier vide.</p>
            <a href="{{ path('app_events') }}" class="btn btn-yellow">Voir tous les événements</a>
            <a href="{{ path('app_rentals') }}" class="btn btn-green">Voir tous les Logements</a>
        {% endif %}
    </div>

{% endblock %}
