{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
    <div class="contentMargin d-flex justify-content-center flex-column align-items-center gap-3">
        <h3>Panier</h3>

        {% if cartElements %}

            {% set rentals = cartElements|filter(element => element.type == 'rental') %}
            {% set events = cartElements|filter(element => element.type == 'event') %}

            {% if rentals is not empty %}
                <h4>Locations</h4>
                <p class="alert alert-secondary">Pour l'ensemble de nos hébergements, une caution correspondant à deux fois le tarif journalier (sans promotion) vous sera exigée. <br>
                    Cette dernière vous sera intégralement remboursée si l'état de la location lors de votre départ est conforme à nos attentes.</p>
                <table class="d-none d-xl-table flex-column table w-75">
                    <thead>
                    <tr>
                        <th class="text-center">Image</th>
                        <th class="text-center">Nom</th>
                        <th class="text-center">Date de début</th>
                        <th class="text-center">Date de fin</th>
                        <th class="text-center">Prix par jour</th>
                        <th class="text-center">Frais de nettoyage</th>
                        <th class="text-center">Caution</th>
                        <th class="text-center">Prix hors frais TTC</th>
                        <th class="text-center">Prix Total TTC</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for elem in rentals %}
                        <tr>
                            <td class="align-middle text-center">
                                {% if elem.image %}
                                    <img src="{{ asset('uploads/' ~ elem.image.getSrc()) }}" alt="{{ asset('styles/img/' ~ elem.image.getAlt()) }}" class="iconImage rounded-3">
                                {% else %}
                                    Aucune image
                                {% endif %}
                            </td>
                            <td class="align-middle"><a href="{{ path('app_rental', {id: elem.rentalId }) }}">{{ elem.rentalTitle|capitalize }}</a></td>
                            <td class="align-middle text-center">{{ elem.dateStart|date("d/m/Y") }}</td>
                            <td class="align-middle text-center">{{ elem.dateEnd|date("d/m/Y") }}</td>
                            <td class="align-middle text-center">
                                {% if elem.rentalIsOnPromotion %}
                                    <span class="color-darkGreen" title="En promotion (-10%)">{{ (elem.rentalPricePerDay * 0.9)|round(2, 'floor')|number_format(2, ',', '') }}€</span>
                                {% else %}
                                    {{ elem.rentalPricePerDay|round(2, 'floor')|number_format(2, ',', '') }}€
                                {% endif %}
                            </td>
                            <td class="align-middle text-center">
                                50€
                            </td>
                            <td class="align-middle text-center">
                                {{ (elem.rentalPricePerDay * 2)|number_format(2, ',', '') }}€
                            </td>
                            <td class="align-middle text-center">
                                {% set days = elem.dateEnd.diff(elem.dateStart).days + 1 %}
                                {% if elem.rentalPricePerDay %}
                                    {% set dailyPrice = (elem.rentalPricePerDay * 0.9)|round(2, 'floor') %}
                                {% else %}
                                    {% set dailyPrice = elem.rentalPricePerDay|round(2, 'floor') %}
                                {% endif %}

                                {% set totalRentalttc = (days * dailyPrice) %}
                                {% set totalRentalht = (totalRentalttc / 1.1) %}
                                {% set totalRentaltva = totalRentalttc - totalRentalht %}

                                {{ totalRentalttc|number_format(2, ',', '') }}€<br>
                                ({{ totalRentalht|number_format(2, ',', '') }}€ HT + {{ totalRentaltva|number_format(2, ',', '') }}€ TVA)<br>
                            </td>
                            <td class="align-middle text-center">
                                {{ (totalRentalttc + 50 + (elem.rentalPricePerDay * 2)|round(2, 'floor'))|number_format(2, ',', '') }}€
                            </td>
                            <td class="align-middle text-center">
                                <a href="{{ path('app_delete_element_cart', {id: elem.id}) }}" class="btn btn-red">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <div class="d-flex flex-column gap-1 py-1 d-xl-none col-12 col-lg-8 bg-lightGreen">
                    {% for elem in rentals %}
                        <div class="d-flex flex-column gap-4 p-4 bg-myWhite">
                            <div class="d-flex p-4 bg-lightGreen rounded-4">
                                <div class="{% if elem.image %}col-6{% endif %}">
                                    {% if elem.image %}
                                        <img src="{{ asset('uploads/' ~ elem.image.getSrc()) }}" alt="{{ asset('styles/img/' ~ elem.image.getAlt()) }}" class="h-100 rounded-start-4 rounded-end-0 object-fit-cover col-12 rounded-3">
                                    {% else %}
                                        Aucune image
                                    {% endif %}
                                </div>
                                <div class="{% if elem.image %}col-6{% else %}col-12{% endif %} d-flex flex-column bg-myWhite px-4 py-2 gap rounded-end-4">
                                    <a href="{{ path('app_rental', {id: elem.rentalId }) }}" class="mb-2">{{ elem.rentalTitle|capitalize }}</a>
                                    <p class="mb-2">du {{ elem.dateStart|date("d/m/Y") }} au {{ elem.dateEnd|date("d/m/Y") }}</p>
                                    <p class="mb-2">Prix par jour:
                                        {% if elem.rentalIsOnPromotion %}
                                            <span class="color-darkGreen">{{ (elem.rentalPricePerDay * 0.9)|round(2, 'floor')|number_format(2, ',', '') }}€</span>
                                        {% else %}
                                            {{ elem.rentalPricePerDay|round(2, 'floor')|number_format(2, ',', '') }}€
                                        {% endif %}
                                    </p>
                                    <p class="mb-2">Frais de nettoyage: 50€</p>
                                    <p class="mb-2">Caution: {{ (elem.rentalPricePerDay * 2)|number_format(2, ',', '') }}€</p>
                                    <p class="mb-2">
                                        {% set days = elem.dateEnd.diff(elem.dateStart).days + 1 %}
                                        {% if elem.rentalPricePerDay %}
                                            {% set dailyPrice = (elem.rentalPricePerDay * 0.9)|round(2, 'floor') %}
                                        {% else %}
                                            {% set dailyPrice = elem.rentalPricePerDay|round(2, 'floor') %}
                                        {% endif %}

                                        {% set totalRentalttc = (days * dailyPrice) %}
                                        {% set totalRentalht = (totalRentalttc / 1.1) %}
                                        {% set totalRentaltva = totalRentalttc - totalRentalht %}

                                        Total TTC: {{ totalRentalttc|number_format(2, ',', '') }}€<br>
                                        ({{ totalRentalht|number_format(2, ',', '') }}€ HT + {{ totalRentaltva|number_format(2, ',', '') }}€ TVA)
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex flex-column gap-3">
                                <p class="col-12 text-center">Prix Total: <span class="fw-bold">{{ (totalRentalttc + 50 + (elem.rentalPricePerDay * 2)|round(2, 'floor'))|number_format(2, ',', '') }}€</span></p>
                                <a href="{{ path('app_delete_element_cart', {id: elem.id}) }}" class="btn btn-red col-12">Supprimer</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if events is not empty %}
                <h4>Événements</h4>
                <table class="d-none d-xl-table flex-column table w-75 align-middle-table">
                    <thead>
                    <tr>
                        <th class="text-center">Image</th>
                        <th class="text-center">Nom</th>
                        <th class="text-center">Nombre de places</th>
                        <th class="text-center">Prix par personne</th>
                        <th class="text-center">Prix total TTC</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for elem in events %}
                        <tr>
                            <td class="align-middle text-center">
                                {% if elem.image %}
                                    <img src="{{ asset('uploads/' ~ elem.image.getSrc()) }}" alt="{{ asset('styles/img/' ~ elem.image.getAlt()) }}" class="iconImage rounded-3">
                                {% else %}
                                    Aucune image
                                {% endif %}
                            </td>
                            <td class="align-middle text-center"><a href="{{ path('app_event', {id:elem.eventId }) }}">{{ elem.eventTitle|capitalize }}</a></td>
                            <td class="align-middle text-center">{{ elem.nbPlaces }}</td>
                            <td class="align-middle text-center">
                                {{ elem.eventPrice|number_format(2, ',', '') }}€
                            </td>
                            <td class="align-middle text-center">
                                {% set totalEventTTC = elem.eventPrice * elem.nbPlaces %}
                                {% set totalEventHT = totalEventTTC / 1.2 %}
                                {% set totalEventTVA = totalEventTTC - totalEventHT %}

                                {{ totalEventTTC|number_format(2, ',', '') }}€<br>
                                ({{ totalEventHT|number_format(2, ',', '') }}€ HT + {{ totalEventTVA|number_format(2, ',', '') }}€ TVA)

                            </td>
                            <td class="align-middle text-center">
                                <a href="{{ path('app_delete_element_cart', {id: elem.id}) }}" class="btn btn-red">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="d-flex flex-column gap-1 py-1 d-xl-none col-12 col-lg-8 bg-Yellow">
                    {% for elem in events %}
                        <div class="d-flex flex-column gap-4 p-4 bg-myWhite">
                            <div class="d-flex p-4 bg-lightGreen rounded-4">
                                <div class="{% if elem.image %}col-6{% else %}col-0{% endif %}">
                                    {% if elem.image %}
                                        <img src="{{ asset('uploads/' ~ elem.image.getSrc()) }}" alt="{{ asset('styles/img/' ~ elem.image.getAlt()) }}" class="h-100 object-fit-cover col-12 rounded-3">
                                    {% else %}
                                        Aucune image
                                    {% endif %}
                                </div>
                                <div class="{% if elem.image %}col-6{% else %}col-12{% endif %} d-flex flex-column bg-myWhite px-4 py-2 gap rounded-end-4">
                                    <a href="{{ path('app_event', {id:elem.eventId }) }}" class="mb-2">{{ elem.eventTitle|capitalize }}</a>
                                    <p class="mb-2">Nombre de places: {{ elem.nbPlaces }}</p>
                                    <p class="mb-2">Prix de l'événement: {{ elem.eventPrice|number_format(2, ',', '') }}€</p>
                                </div>
                            </div>
                            <div class="d-flex flex-column gap-3">
                                <p class="col-12 text-center">
                                    {% set totalEventTTC = elem.eventPrice * elem.nbPlaces %}
                                    {% set totalEventHT = totalEventTTC / 1.2 %}
                                    {% set totalEventTVA = totalEventTTC - totalEventHT %}

                                    Prix Total TTC: <span class="fw-bold">{{ totalEventTTC|number_format(2, ',', '') }}€</span>
                                    ({{ totalEventHT|number_format(2, ',', '') }}€ HT + {{ totalEventTVA|number_format(2, ',', '') }}€ TVA)
                                </p>
                                <a href="{{ path('app_delete_element_cart', {id: elem.id}) }}" class="btn btn-red">Supprimer</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% set totalPanier = 0 %}

            {% for elem in rentals %}
                {% set days = elem.dateEnd.diff(elem.dateStart).days + 1 %}
                {% if elem.rentalIsOnPromotion %}
                    {% set dailyPrice = (elem.rentalPricePerDay * 0.9)|round(2, 'floor') %}
                {% else %}
                    {% set dailyPrice = elem.rentalPricePerDay|round(2, 'floor') %}
                {% endif %}
                {% set totalPanier = totalPanier + ((days * dailyPrice)+50) + (elem.rentalPricePerDay * 2) %}
            {% endfor %}

            {% for elem in events %}
                {% set totalPanier = totalPanier + (elem.eventPrice * elem.nbPlaces) %}
            {% endfor %}

            <div class="mt-4 text-end">
                <h5 class="text-center">Total du panier : <strong>{{ totalPanier|number_format(2, ',', '') }}€</strong></h5>
            </div>

            {% if not app.user %}
                <p class="alert alert-danger">Vous devez être connecté pour pouvoir valider votre panier.</p>
            {% else %}
                {% if not app.user.isEmailAuthentificated() %}
                    <p class="alert alert-danger">Votre email doit être vérifié pour pouvoir valider votre panier.</p>
                {% endif %}
            {% endif %}



            <div class="d-flex flex-column gap-2 mb-4">
                <a href="{{ path('app_reset_cart') }}" class="btn btn-red m-3">Vider le panier</a>

                {{ form_start(form) }}
                <div class="d-flex flex-column bg-darkGreen p-3 rounded-4">
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-lightGreen2 m-3
                {% if not app.user or not app.user.isEmailAuthentificated() %}
                    disabledItem
                {% endif %}
                ">Valider le panier</button>
                </div>
                {{ form_end(form) }}
            </div>
        {% else %}
            <p class="alert alert-secondary m-3">Panier vide.</p>
            <a href="{{ path('app_events') }}" class="btn btn-yellow">Voir tous les événements</a>
            <a href="{{ path('app_rentals') }}" class="btn btn-green">Voir toutes les locations</a>
        {% endif %}
    </div>

{% endblock %}
