<turbo-frame id="account-section">
    <h4 class="text-center">Factures</h4>

    {% if bills|length > 0 %}

        <div class="table-responsive">
            <table class="table mt-4 table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th class="text-center align-middle">Id</th>
                    <th class="text-center align-middle">Date de facture</th>
                    <th class="text-center align-middle">Locations</th>
                    <th class="text-center align-middle">Événements</th>
                    <th class="text-center align-middle">Prix total</th>
                    <th class="text-center align-middle">Facture</th>
                </tr>
                </thead>
                <tbody>
                {% for bill in bills|reverse %}
                    <tr>
                        <td class="align-middle text-center">{{ bill.id }}</td>
                        <td class="align-middle text-center">{{ bill.date|date('d/m/Y') }}</td>
                        <td class="align-middle">
                            {% if bill.reservationsRentals|length > 0 %}
                                {% for reservationRental in bill.reservationsRentals %}
                                    - <a href="{{ path('app_rental', {id:reservationRental.rentals.id }) }}" data-turbo="false">{{ reservationRental.rentals.title|capitalize }}</a>
                                    <br>
                                {% endfor %}
                            {% else %}
                                Aucune location
                            {% endif %}
                        </td>
                        <td class="align-middle">
                            {% if bill.reservationsEvents|length > 0 %}
                                {% for reservationEvent in bill.reservationsEvents %}
                                    - <a href="{{ path('app_event', {id:reservationEvent.event.id }) }}" data-turbo="false">{{ reservationEvent.event.title|capitalize }}</a>
                                    <br>
                                {% endfor %}
                            {% else %}
                                Aucun événement
                            {% endif %}
                        </td>
                        <td class="align-middle text-center">
                            {{ bill.totalPrice|number_format(2, ',', '') }}€
                        </td>
                        <td class="align-middle text-center">
                            <a href="{{ path('app_bills', {id: bill.id}) }}" target="_blank">Télécharger la facture</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="alert alert-secondary">Aucune facture.</p>
    {% endif %}
</turbo-frame>
