<turbo-frame id="account-section">
    <h4 class="text-center">Changer l'adresse mail</h4>
    <div class="d-flex flex-column justify-content-center align-items-center bg-lightGreen p-3 rounded-4">
        <div class="w-50 d-flex flex-column">
            {{ form_errors(form) }}
            {{ form_start(form, {
                'action': path('app_account_section', {'section': 'changemail'}),
                'method': 'POST',
                'attr': {
                    'data-turbo-frame': '_top',
                    'class': 'd-flex flex-column gap-3'
                }
            }) }}

            <div class="d-flex flex-column gap-2">
                {{ form_label(form.newEmail) }}
                {{ form_widget(form.newEmail) }}
            </div>


            <div class="d-flex flex-column gap-2">
                {{ form_label(form.password) }}
                {{ form_widget(form.password) }}
            </div>

            <button type="submit" class="btn-yellow form-control">Enregistrer</button>
            {{ form_end(form) }}
        </div>
    </div>
</turbo-frame>