<turbo-frame id="account-section">
    <h4 class="text-center">Vos réservations de logements</h4>

    {% set reservationCount = 0 %}
    {% for bill in bills %}
        {% set reservationCount = reservationCount + bill.getReservationsRentals()|length %}
    {% endfor %}

    {% if reservationCount > 0 %}

        <table class="table mt-4 table-bordered">
            <thead>
            <tr>
                <th class="align-middle text-center">id de la facture</th>
                <th class="align-middle text-center">id de la réservation</th>
                <th class="align-middle text-center">Logement</th>
                <th class="align-middle text-center">Caution de nettoyage</th>
                <th class="align-middle text-center">Date de début</th>
                <th class="align-middle text-center">Date de fin</th>
                <th class="align-middle text-center">Date de réservation</th>
                <th class="align-middle text-center">Prix total</th>
                <th class="align-middle text-center">Status de la caution de nettoyage</th>
                <th class="align-middle text-center">Caution de nettoyage renvoyée</th>
            </tr>
            </thead>
            <tbody>

            {% for bill in bills %}
                {% for elem in bill.getReservationsRentals() %}
                    <tr>
                        <td class="align-middle text-center">{{ bill.id }}</td>
                        <td class="align-middle text-center">{{ elem.id }}</td>
                        <td class="align-middle">
                            <a href="{{ path('app_rental', {id:elem.rentals.id }) }}" data-turbo="false">{{ elem.rentals.title|capitalize }}</a>
                        </td>
                        <td class="align-middle text-center">
                            {% if elem.hasCleaningDeposit %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </td>
                        <td class="align-middle text-center">{{ elem.dateStart|date('d/m/Y') }}</td>
                        <td class="align-middle text-center">{{ elem.dateEnd|date('d/m/Y') }}</td>
                        <td class="align-middle text-center">{{ bill.date|date('d/m/Y') }}</td>
                        <td class="align-middle text-center">
                            {{ elem.totalPrice|number_format(2, ',', '') }}€
                        </td>
                        <td class="align-middle text-center">
                            {% if elem.statusBaseDeposit == 0 %}
                                Non payé par l'utilisateur
                            {% elseif elem.statusBaseDeposit == 1 %}
                                En cours de vérification
                            {% elseif elem.statusBaseDeposit == 2 %}
                                <span class="color-orange">Partielement remboursé</span>
                            {% elseif elem.statusBaseDeposit == 3 %}
                                <span class="color-darkGreen">Totalement remboursé</span>
                            {% elseif elem.statusBaseDeposit == 4 %}
                                <span class="color-red">Refusé</span>
                            {% endif %}
                        </td>
                        <td class="align-middle text-center">
                            {% if elem.statusBaseDeposit == 1 %}
                                En cours de vérification
                            {% else %}
                                {{ elem.totalDepositReturned|number_format(2, ',', '') }}€
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}

            </tbody>
        </table>
    {% else %}
        <p class="alert alert-secondary text-center">Aucune réservations de logements</p>
    {% endif %}
</turbo-frame>
