{% extends 'base.html.twig' %}

{% block title %}Tous les événements{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('libs/jquery/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ asset('libs/magnific-popup/dist/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('js/events.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="contentMargin popup-gallery d-flex flex-column align-items-center gap-5 mb-4">
        <h3 class="myTitle fs-2">{{ event.title|capitalize }}</h3>

        <header class="w-75 d-flex flex-column gap-3 align-items-center">
            <div class="d-flex gap-3">
                {% if event.getHomePageImage() %}
                    <a class="col-md-6" href="{{ asset('uploads/' ~ event.getHomePageImage().getSrc()) }}" title="{{ event.getHomePageImage().getAlt() }}">
                        <img class="img-fluid rounded-4 w-100 h-100" src="{{ asset('uploads/' ~ event.getHomePageImage().getSrc()) }}" alt="{{ event.getHomePageImage().getAlt() }}">
                    </a>
                {% endif %}
                <div {% if event.getHomePageImage() %}class="col-md-6"{% endif %}>
                    <p class="bg-lightGreen rounded-4 p-2">{{ event.content|capitalize }}</p>

                    {% if not event.isPast() %}
                        {% if event.getRemainingPlaces() <= 0 %}
                            <div class="bg-black rounded-4 p-2 d-flex flex-column justify-content-between p-3">
                                <div class="d-flex justify-content-between">
                                    <h5>{{ event.nbPlaces }} places</h5>
                                    <h4><span class="color-lightGreen">{{ event.price|number_format(2, ',', '') }}€</span>/personne</h4>
                                </div>
                                <p class="alert alert-danger text-center fw-bold">Complet</p>
                            </div>
                        {% else %}
                            {{ form_start(form, {'attr': {'class': 'bg-darkGrey rounded-4 p-2 d-flex justify-content-between p-3', 'data-turbo': 'false'}}) }}
                            <div class="w-50">
                                <h5>{{ event.nbPlaces }} places <span class="color-yellow">({{ event.getRemainingPlaces() }} places restantes)</span></h5>

                                {% set placeRemainingForUser = 20 - maxReservations %}
                                {% if event.getRemainingPlaces() < placeRemainingForUser %}
                                    {% set maxPlaces = event.getRemainingPlaces() %}
                                {% else %}
                                    {% set maxPlaces = placeRemainingForUser %}
                                {% endif %}

                                <p>En comptant vos réservations ainsi que votre panier, vous pouvez prendre encore {{ maxPlaces }} places.</p>
                                <div class="input-group mb-3 w-75">
                                    {{ form_widget(form.nb_places, {'attr': {'min': 0, 'max': maxPlaces, 'placeholder': 'Nombre de place souhaité', 'aria-label': 'Nombre de place souhaité', 'aria-describedby': 'basic-addon2'}}) }}
                                    <span class="input-group-text" id="basic-addon2">places</span>
                                </div>
                            </div>
                            <div class="w-50 d-flex align-items-end flex-column gap-2">
                                {% set ttc = event.price %}
                                {% set ht = ttc / 1.2 %}
                                {% set tva = ttc - ht %}

                                <small class="fs-6 fw-light">({{ ht|number_format(2, ',', '') }} € HT + {{ tva|number_format(2, ',', '') }} € TVA à 20%)</small>
                                <h4><span class="color-lightGreen">{{ event.price|number_format(2, ',', '') }}€ TTC</span>/personne</h4>
                                <div>
                                    <span>le <span class="color-lightGreen">{{ event.date|date('d/m/Y') }}</span></span>
                                </div>
                                <div>
                                    <span>{{ event.location|capitalize }}</span>
                                </div>
                                <button type="submit" class="btn-yellow w-50 text-center">Ajouter au panier</button>
                            </div>
                            {{ form_end(form) }}
                        {% endif %}
                    {% else %}
                        <div class="bg-LightGrey rounded-4 p-2 d-flex flex-column justify-content-between p-3">
                            <div class="d-flex justify-content-between">
                                <p>{{ event.nbPlaces }} places</p>
                                <h4><span class="color-lightGreen">{{ event.price|number_format(2, ',', '') }}€</span>/personne</h4>
                            </div>
                            <p class="alert alert-warning text-center fw-bold">Événement déjà passé.</p>
                        </div>
                    {% endif %}

                </div>
            </div>
        </header>

        {% set images = event.getImages() %}
        {% if images|length > 1 %}
            <section id="galleryEvent" class="d-flex flex-column align-items-center gap-3 py-4 px-5 rounded-4 bg-lightGreen">
                <h3>Gallerie photo de l'événement</h3>
                <div class="d-flex popup-gallery w-75 justify-content-center gap-3">
                    {% for image in images %}
                        {% if not image.isHomePage %}
                            <a href="{{ asset('uploads/' ~ image.getSrc()) }}" title="{{ image.getAlt() }}">
                                <img src="{{ asset('uploads/' ~ image.getSrc()) }}" alt="{{ image.getAlt() }}" class="img-fluid rounded-4 smallImage">
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    </div>
{% endblock %}
