<div class="d-flex gap-3 mb-4">
    <a href="{{ path('app_users_index') }}" class="btn-lightGreen2">Utilisateurs</a>
    <a href="{{ path('app_rentals_index') }}" class="btn-lightGreen2">Logements</a>
    <a href="{{ path('app_posts_index') }}" class="btn-lightGreen2">Actualités</a>
    <a href="{{ path('app_bills_index') }}" class="btn-lightGreen2">Factures</a>
    <a href="{{ path('app_events_index') }}" class="btn-lightGreen2">Événements</a>
    <a href="{{ path('app_comments_index') }}" class="btn-lightGreen2">Commentaires</a>
    <a href="{{ path('app_reservations_events_index') }}" class="btn-lightGreen2">Réservations événements</a>
    <a href="{{ path('app_reservations_rentals_index') }}" class="btn-lightGreen2">Réservations locations</a>
</div>