{% extends 'base.html.twig' %}

{% block title %}Modification de {{ rental.title|capitalize }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('libs/jquery/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ asset('libs/magnific-popup/dist/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('js/admin/popup.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="contentMargin d-flex flex-column align-items-center justify-content-center mb-5">
        {% if not rental.getHomePageImage() %}
            <div class="alert alert-warning d-flex gap-2">
                <p>La logement ne possède pas d'image de présentation</p>
                <a href="{{ path('app_rentals_add_image', {id:rental.id}) }}">en ajouter une</a>
            </div>
        {% endif %}
        <div class="mb-3 w-75 d-flex justify-content-start gap-2">
            <a href="{{ path('app_rentals_index') }}" class="btn-yellow mb-4">Revenir à la liste</a>
            <a href="{{ path('app_rental', {id: rental.id}) }}" class="btn-lightGreen2 mb-4" data-turbo="false">Voir le logement</a>
        </div>
        <div class="w-75 bg-lightGreen d-flex flex-column p-5 rounded-4">
            <h1 class="text-center">Modification de {{ rental.title|capitalize }}</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}

            <div>
                <button class="btn-yellow" type="submit">Modifier</button>
                <button type="button" class="btn-red text-center" data-bs-toggle="modal" data-bs-target="#modal-delete">
                    Supprimer
                </button>
            </div>
            {{ form_end(form) }}
        </div>

        <div class="d-flex flex-column align-items-center justify-content-center my-4 .popup-gallery">
            <h3>Gallerie photo du logement</h3>
            <div class="d-flex popup-gallery w-75 justify-content-center gap-3">
                {% for imageRental in rental.getImages() %}
                    {% if not imageRental.isHomePage %}
                        <div class="d-flex flex-column gap-2">
                            <a href="{{ asset('uploads/' ~ imageRental.getSrc()) }}" title="{{ imageRental.getAlt() }}">
                                <img src="{{ asset('uploads/' ~ imageRental.getSrc()) }}" alt="{{ imageRental.getAlt() }}" class="img-fluid rounded-4 smallImage">
                            </a>
                            <button type="button" class="btn-red text-center" data-bs-toggle="modal" data-bs-target="#modal-{{ imageRental.id }}">
                                Supprimer l'image
                            </button>
                        </div>
                        <div class="modal fade" id="modal-{{ imageRental.id }}" tabindex="-1" aria-labelledby="modalLabel-{{ imageRental.id }}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content rounded-4">
                                    <div class="modal-header bg-red text-white">
                                        <h5 class="modal-title" id="modalLabel-{{ imageRental.id }}">Confirmation de suppression</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr de vouloir supprimer cette image ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn-black" data-bs-dismiss="modal">Annuler</button>
                                        <a href="{{ path('app_images_delete_rentals', {id:imageRental.id}) }}" class="btn-red">Confirmer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="d-flex flex-column gap-2">
                            <a href="{{ asset('uploads/' ~ imageRental.getSrc()) }}" title="{{ imageRental.getAlt() }}">
                                <img src="{{ asset('uploads/' ~ imageRental.getSrc()) }}" alt="{{ imageRental.getAlt() }}" class="img-fluid rounded-4 smallImage">
                            </a>
                            <a href="{{ path('app_images_change_home_image_rental', {id:imageRental.id}) }}" class="btn-lightGreen2 text-center">Modifier l'image d'accueil</a>
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
            {% if rental.getImages()|length < 4 %}
                <a href="{{ path('app_rentals_add_image', {id:rental.id}) }}" class="btn-yellow mt-3">Ajouter une image</a>
            {% endif %}
        </div>
    </div>

    <div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="modal-delete" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-4">
                <div class="modal-header bg-red text-white">
                    <h5 class="modal-title" id="modal-delete">Confirmation de suppression</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer cette location ?<br>
                    <span class="text-muted">Si la location possède des commentaires ou des réservations, alors il sera impossible de la supprimer.</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-black" data-bs-dismiss="modal">Annuler</button>
                    <a href="{{ path('app_rentals_delete', {id: rental.id}) }}" class="btn-red">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
