{% extends 'base.html.twig' %}

{% block title %}{{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block body %}
    <div class="contentMargin d-flex flex-column align-items-center justify-content-center gap-3">
        <h1>{{ user.id }}: {{ user.firstname }} {{ user.lastname }}</h1>


        {% if not user.isActive %}<p class="alert alert-warning">Le compte sera anonymisé 30 jours après avoir été désactivé.</p>{% endif %}
        <div class="d-flex">
            <div>
                <h5 class="text-center">Photo de profil</h5>
                <div class="bg-black m-2 rounded-4">
                    {% if user.image.src == "null" %}
                        <svg class="rounded-circle" xmlns="http://www.w3.org/2000/svg" width="300" height="300" viewBox="0 0 24 24"><path fill="#F8F9FA" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"/></svg>
                    {% else %}
                        <img class="rounded-4" src="{{ asset('uploads/' ~ user.image.src) }}" alt="{{ user.image.src }}" style="object-fit: cover; height: 300px; width: 300px">
                    {% endif %}
                </div>
            </div>
            <div class="d-flex flex-column">
                <h5 class="text-center">Informations du compte</h5>
                <div class="d-flex flex-column gap-2">
                    <div class="d-flex flex-column gap-1 p-3 rounded-4">
                        <p class="my-0"><span class="fw-bold">Prénom</span>: {{ user.firstname }}</p>
                        <p class="my-0"><span class="fw-bold">Nom</span>: {{ user.lastName }}</p>
                        <p class="my-0"><span class="fw-bold">Adresse mail</span>: {{ user.email }}</p>
                        <p class="my-0"><span class="fw-bold">Date de naissance</span>: {{ user.birthDate|date('d/m/Y') }}</p>
                        <p class="my-0"><span class="fw-bold">Points</span>: {{ user.nbPoints }} pts</p>
                        <p class="my-0"><span class="fw-bold">Compte créé le</span>: {{ user.createdAt|date('d/m/Y H:i:s', 'UTC') }}</p>
                        <p class="my-0"><span class="fw-bold">Dernière modification</span>: {{ user.updatedAt|date('d/m/Y H:i:s', 'UTC') }}</p>
                        <p class="my-0"><span class="fw-bold">Dernière connexion</span>: {{ user.lastLogAt|date('d/m/Y H:i:s', 'UTC') }}</p>
                        <p class="my-0"><span class="fw-bold">Compte actif</span>: {{ user.isActive ? '✅️' : '❌' }}</p>
                        <p class="my-0"><span class="fw-bold">Email authentifié</span>: {{ user.isEmailAuthentificated ? '✅️' : '❌' }}</p>
                        <p class="my-0">
                            <span class="fw-bold">Rôle</span>:
                            {% if user.roles|last == "ROLE_USER" %}
                                User
                            {% elseif user.roles|last == "ROLE_ADMIN" %}
                                Admin
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex gap-2">
            <a href="{{ path('app_users_index') }}" class="btn-yellow">Retour à la liste</a>
            <a href="{{ path('app_users_change_active', {id:user.id}) }}" class="btn-{% if user.isActive %}red{% else %}lightGreen2{% endif %}">
                {% if user.isActive %}Désactiver{% else %}Activer{% endif %}
            </a>
            <a href="{{ path('app_users_comments', {'id': user.id}) }}" class="btn-lightGreen2">
                Voir les commentaires
            </a>
            <a href="{{ path('app_users_reservations', {'id': user.id}) }}" class="btn-lightGreen">
                Voir les réservations
            </a>
            <a href="{{ path('app_users_bills', {'id': user.id}) }}" class="btn-black">
                Voir les factures
            </a>
        </div>
    </div>
{% endblock %}
