{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <ul class="list-group container" style="margin-top: 150px">
        <li class="list-group-item">
            <a href="{{ path('app_users_index') }}" class="btn btn-outline-primary">Utilisateurs</a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('app_rentals_index') }}" class="btn btn-outline-primary">Locations</a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('app_images_index') }}" class="btn btn-outline-primary">Images</a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('app_posts_index') }}" class="btn btn-outline-primary">Actualités</a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('app_bills_index') }}" class="btn btn-outline-primary">Factures</a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('app_events_index') }}" class="btn btn-outline-primary">Événements</a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('app_comments_index') }}" class="btn btn-outline-primary">Commentaires</a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('app_reservations_events_index') }}" class="btn btn-outline-primary">Réservations événements</a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('app_reservations_rentals_index') }}" class="btn btn-outline-primary">Réservations locations</a>
        </li>
    </ul>
{% endblock %}