{% block body %}
    <nav class="navbar navbar-expand-lg px-lg-5 py-3 fixed-top" style="background: linear-gradient(to right, #006633, #95C11F);">
        <a class="navbar-brand align-items-center d-flex" href="{{ path('app_home') }}">
            <img src="{{ asset('img/DomaineduSoleilNoName.svg') }}" alt="Logo" class="me-2" height="50">
            <h2 class="titleNav">Domaine Du Soleil</h2>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center d-flex p-3 flex-md-row flex-column gap-md-3 flex-md-wrap gap-4">

                <li class="nav-item d-flex gap-3">
                    <a class="btn-black" href="{{ path('app_posts') }}">Nouveautés</a>
                    <a class="btn-yellow" href="{{ path('app_events') }}">Événements</a>
                </li>

                <li class="nav-item d-flex gap-3">
                    <a class="btn-lightGreen" href="{{ path('app_rentals') }}">Locations</a>
                    <a class="btn-lightGreen2" href="{{ path('app_cart') }}">
                        <img src="{{ asset('styles/img/cart.svg') }}" alt="Accéder au panier">
                    </a>
                </li>

                {% if app.user %}
                    <li class="nav-item dropdown">
                        <button class="dropdown-toggle d-flex gap-2 align-items-center" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if app.user.image.src == "null" %}
                                <svg class="rounded-circle" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" role="img" aria-label="Utilisateur">
                                    <path fill="#F8F9FA" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"/>
                                </svg>
                            {% else %}
                                <img class="rounded-circle" src="{{ asset('uploads/' ~ app.user.image.src) }}" alt="{{ app.user.image.alt }}" style="object-fit: cover; height: 25px; width: 25px">
                            {% endif %}
                            {{ app.user.firstname }} {{ app.user.lastname }}
                        </button>

                        <ul class="dropdown-menu gap-4" aria-labelledby="userDropdown">
                            <li class="mb-2">
                                <a href="{{ path('app_account') }}" class="dropdown-item color-white rounded-3 text-center">Mon compte</a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="mb-2">
                                    <a href="{{ path('app_admin') }}" class="dropdown-item color-white rounded-3 text-center">Administration</a>
                                </li>
                                <li class="mb-2">
                                    <hr class="dropdown-divider">
                                </li>
                            {% endif %}
                            <li>
                                <a href="{{ path('app_logout') }}" class="dropdown-item btn-red text-center">Déconnexion</a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item d-flex gap-3">
                        <a class="btn-green" href="{{ path('app_login') }}">Connexion</a>
                        <a class="btn-signup" href="{{ path('app_register') }}">Inscription</a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </nav>

    <div id="fixed-alert-container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show mt-3 w-75 mx-auto" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
                </div>
            {% endfor %}
        {% endfor %}

        {% if InactivCommentUser is defined %}
            {% for comment in InactivCommentUser %}
                <div class="alert alert-warning alert-dismissible fade show mt-3 w-75 mx-auto" role="alert">
                    Vous avez un commentaire sur <a href="{{ path('app_rental', {id:comment.rentals.id}) }}">{{ comment.rentals.title }}</a> qui a été désactivé ! <a href="{{ path('app_edit_comment', {id: comment.id}) }}">Cliquer ici</a> pour le modifier
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}