<footer class="py-3" style="background: var(--myYellow)">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-auto text-center text-md-start">
                <ul class="list-inline align-items-center mb-0">
                    <li class="list-inline-item align-middle">
                        <a href="https://www.facebook.com/" class="me-2 d-inline-flex align-items-center">
                            <img src="{{ asset('styles/img/facebook.svg') }}" alt="Icon facebook" style="height: 24px;">
                        </a>
                    </li>
                    <li class="list-inline-item align-middle">
                        <a href="https://www.instagram.com/" class="me-2 d-inline-flex align-items-center">
                            <img src="{{ asset('styles/img/instagram.svg') }}" alt="Icon instagram" style="height: 24px;">
                        </a>
                    </li>
                    <li class="list-inline-item align-middle">
                        <a href="https://www.linkedin.com/" class="d-inline-flex align-items-center">
                            <img src="{{ asset('styles/img/linkedin.svg') }}" alt="Icon linkedin" style="height: 24px;">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md text-center text-md-center">
                <small>&copy; 2025 Domaine Du Soleil</small>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="{{ path('app_policyandprivacy') }}" style="color: #333;">Politique de confidentialité</a></li>
                    <li class="list-inline-item"><a href="{{ path('app_generalconditions') }}" style="color: #333;">Conditions générales de ventes</a></li>
                    <li class="list-inline-item"><a href="{{ path('app_legalnotices') }}" style="color: #333;">Mention légales</a></li>
                    <li class="list-inline-item"><a href="{{ path('app_informations') }}" style="color: #333;">Informations sur le camping</a></li>
                </ul>
            </div>
            <div class="col-md-auto text-center text-md-end">
                <small>35 Rue du Soleil 5000 Namur</small><br>
                <small>0471 23 45 67</small><br>
                <small><a href="mailto:info@domainedusoleil.be" style="color: #333;">info@domainedusoleil.be</a></small>
            </div>
        </div>
    </div>
</footer>