{% extends 'base.html.twig' %}

{% block title %}ReservationsEvents{% endblock %}

{% block body %}
    <div class="contentMargin">
        <h1>ReservationsEvents</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservations_event.id }}</td>
            </tr>
            <tr>
                <th>Date_reservation</th>
                <td>{{ reservations_event.dateReservation ? reservations_event.dateReservation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_start</th>
                <td>{{ reservations_event.dateStart ? reservations_event.dateStart|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Is_active</th>
                <td>{{ reservations_event.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('app_reservations_events_index') }}">back to list</a>

        <a href="{{ path('app_reservations_events_edit', {'id': reservations_event.id}) }}">edit</a>

        {{ include('admin/reservations_events/_delete_form.html.twig') }}
    </div>
{% endblock %}
