{% extends 'base.html.twig' %}

{% block title %}Réservations de {{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block body %}
    <div class="contentMargin d-flex flex-column align-items-center justify-content-center my-5">
        <div class="d-flex w-75 justify-content-start gap-2">
            <a href="{{ path('app_users_show', {id:user.id}) }}" class="btn-yellow mb-4">Revenir à l'utilisateur</a>
            <a href="{{ path('app_rentals_index') }}" class="btn-lightGreen mb-4">Revenir à la liste</a>
        </div>
        <h2 class="my-4">Réservations de {{ user.firstname }} {{ user.lastname }}</h2>

        {% if reservationsRentals|length > 0 %}
            <div class="col-11 bg-darkGreen p-3 rounded-4 my-4">
                <h3 class="text-center py-3">Réservations de locations</h3>
                <table class="table table-hover col-12 my-5" id="myTable">
                    <thead>
                    <tr>
                        <th class="text-center align-middle">ID</th>
                        <th class="text-center align-middle">Facture</th>
                        <th class="text-center align-middle">Location</th>
                        <th class="text-center align-middle">Date de réservation</th>
                        <th class="text-center align-middle">Date début</th>
                        <th class="text-center align-middle">Date fin</th>
                        <th class="text-center align-middle">Ajouté manuellement</th>
                        <th class="text-center align-middle">Prix total</th>
                        <th class="text-center align-middle">Prix remboursé</th>
                        <th class="text-center align-middle">Statut caution</th>
                        <th class="text-center align-middle">Actif</th>
                        <th class="text-center align-middle">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reservation in reservationsRentals %}
                        <tr>
                            <td class="text-center align-middle">{{ reservation.id }}</td>
                            <td class="align-middle text-center">
                                {% if reservation.bill %}
                                    <a href="{{ path('app_bills', {'id': reservation.bill.id}) }}">
                                        Voir la facture
                                    </a>
                                {% else %}
                                    Aucune Facture
                                {% endif %}
                            </td>
                            <td class="align-middle">
                                <a href="{{ path('app_rental', {id:reservation.rentals.id}) }}">
                                    {{ reservation.rentals.title|slice(0, 100) ~ '...' }}
                                </a>
                            </td>
                            <td class="text-center align-middle">{{ reservation.dateReservation ? reservation.dateReservation|date('d/m/Y') : '' }}</td>
                            <td class="text-center align-middle">{{ reservation.dateStart ? reservation.dateStart|date('d/m/Y') : '' }}</td>
                            <td class="text-center align-middle">{{ reservation.dateEnd ? reservation.dateEnd|date('d/m/Y') : '' }}</td>
                            <td class="text-center align-middle">{{ reservation.bill is null ? '✅️' : '❌' }}</td>
                            <td class="text-center align-middle">{{ reservation.totalPrice|number_format(2, ',', '') }}€</td>
                            <td class="text-center align-middle">{{ reservation.totalDepositReturned|number_format(2, ',', '') }}€</td>
                            <td class="text-center align-middle">
                                {% if reservation.statusBaseDeposit == 0 %}
                                    En cours
                                {% elseif reservation.statusBaseDeposit == 1 %}
                                    <span class="color-orange">Partielement remboursé</span>
                                {% elseif reservation.statusBaseDeposit == 2 %}
                                    <span class="color-darkGreen">Totalement remboursé</span>
                                {% elseif reservation.statusBaseDeposit == 3 %}
                                    <span class="color-red">Refusé</span>
                                {% elseif reservation.statusBaseDeposit == 4 %}
                                    <span class="color-red">Annulé</span>
                                {% endif %}
                            </td>
                            <td class="text-center align-middle">{{ reservation.statusReservation ? '✅️' : '❌' }}</td>
                            <td>
                                <div class="d-flex gap-2 justify-content-center">
                                    <a href="{{ path('app_reservations_rentals_show', {id:reservation.id}) }}" class="btn btn-dark" title="Voir la réservation">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16"><path fill="#F7D844" d="M8 1a7 7 0 1 1 0 14A7 7 0 0 1 8 1m0 5.25a.749.749 0 1 0 0-1.5a.749.749 0 0 0 0 1.498m.5 1.25a.5.5 0 0 0-1 0v3a.5.5 0 0 0 1 0z"/></svg>
                                    </a>
                                    <a href="{{ path('app_reservations_rentals_edit', {'id': reservation.id}) }}" class="btn btn-dark" title="Modifier le statut">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="#006633" fill-rule="evenodd" clip-rule="evenodd"><path d="M11.32 6.176H5c-1.105 0-2 .949-2 2.118v10.588C3 20.052 3.895 21 5 21h11c1.105 0 2-.948 2-2.118v-7.75l-3.914 4.144A2.46 2.46 0 0 1 12.81 16l-2.681.568c-1.75.37-3.292-1.263-2.942-3.115l.536-2.839c.097-.512.335-.983.684-1.352z"/><path d="M19.846 4.318a2.2 2.2 0 0 0-.437-.692a2 2 0 0 0-.654-.463a1.92 1.92 0 0 0-1.544 0a2 2 0 0 0-.654.463l-.546.578l2.852 3.02l.546-.579a2.1 2.1 0 0 0 .437-.692a2.24 2.24 0 0 0 0-1.635M17.45 8.721L14.597 5.7L9.82 10.76a.54.54 0 0 0-.137.27l-.536 2.84c-.07.37.239.696.588.622l2.682-.567a.5.5 0 0 0 .255-.145l4.778-5.06Z"/></g></svg>
                                    </a>
                                    <a href="{{ path('app_reservations_rentals_refund', {'id': reservation.id}) }}" class="btn btn-dark {% if reservation.bill == null or (reservation.bill.PaymentIntentId is null or reservation.totalDepositReturned >= reservation.totalPrice) %}disabledItem{% endif %}" title="Rembourser la réservation">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#95C11F" d="M18 11H6a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8a2 2 0 0 0-2-2m0 6H6v-3h12m-1-9v5h-1.5V6.5H9.88l2.42 2.43L11.24 10L7 5.75l4.24-4.25l1.06 1.07L9.88 5Z"/></svg>
                                    </a>
                                    <a href="{{ path('app_reservations_rentals_change_active', {'id': reservation.id}) }}" class="btn btn-dark" title="Changer le type actif">
                                        {% if reservation.statusReservation %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#006633" fill-rule="evenodd" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10m-4.906-3.68L18.32 7.094A8 8 0 0 1 7.094 18.32M5.68 16.906A8 8 0 0 1 16.906 5.68z"/></svg>
                                        {% else %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#CE1104" fill-rule="evenodd" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10m-4.906-3.68L18.32 7.094A8 8 0 0 1 7.094 18.32M5.68 16.906A8 8 0 0 1 16.906 5.68z"/></svg>
                                        {% endif %}
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="alert alert-secondary my-3">Aucune réservations de locations trouvées</p>
        {% endif %}

        {% if reservationsEvents|length > 0 %}
            <div class="col-11 bg-lightGreen p-3 rounded-4">
                <h3 class="text-center py-3">Réservations d'événements</h3>
                <table class="table table-hover w-100 my-5" id="myTable2">
                    <thead>
                    <tr>
                        <th class="align-middle text-center">Id</th>
                        <th class="align-middle text-center">Facture</th>
                        <th class="align-middle text-center">Événement</th>
                        <th class="align-middle text-center">Date réservation</th>
                        <th class="align-middle text-center">Date Événement</th>
                        <th class="text-center align-middle">Ajouté manuellement</th>
                        <th class="align-middle text-center">Nb places</th>
                        <th class="align-middle text-center">Total</th>
                        <th class="align-middle text-center">Active</th>
                        <th class="align-middle text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reservation in reservationsEvents %}
                        <tr {% if not reservation.isActive %}class="table-warning"{% endif %}>

                            <td class="align-middle text-center">{{ reservation.id }}</td>
                            <td class="align-middle text-center">
                                {% if reservation.bill %}
                                    <a href="{{ path('app_bills', {'id': reservation.bill.id}) }}">
                                        Voir la facture
                                    </a>
                                {% else %}
                                    Aucune Facture
                                {% endif %}
                            </td>
                            <td class="align-middle">
                                <a href="{{ path('app_rental', {id:reservation.event.id}) }}">{{ reservation.event.title|slice(0, 50) ~ '...'|capitalize }}</a>
                            </td>
                            <td class="align-middle text-center">
                                {{ reservation.dateReservation|date('d/m/Y') }}
                            </td>
                            <td class="align-middle text-center">
                                {{ reservation.event.date|date('d/m/Y') }}
                            </td>
                            <td class="text-center align-middle">{{ reservation.bill is null ? '✅️' : '❌' }}</td>
                            <td class="align-middle text-center">
                                {{ reservation.nbPlaces }}
                            </td>
                            <td class="align-middle text-center">
                                {{ reservation.totalDeposit|number_format(2, ',', '') }}€
                            </td>
                            <td class="align-middle text-center">
                                {{ reservation.isActive ? '✅️' : '❌' }}
                            </td>
                            <td class="p-2 align-middle text-center">
                                <div class="d-flex gap-2 justify-content-center">
                                    <a href="{{ path('app_reservations_events_show', {id:reservation.id}) }}" class="btn btn-dark" title="Voir la réservation">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16"><path fill="#F7D844" d="M8 1a7 7 0 1 1 0 14A7 7 0 0 1 8 1m0 5.25a.749.749 0 1 0 0-1.5a.749.749 0 0 0 0 1.498m.5 1.25a.5.5 0 0 0-1 0v3a.5.5 0 0 0 1 0z"/></svg>
                                    </a>
                                    <a href="{{ path('app_reservations_events_edit', {'id': reservation.id}) }}" class="btn btn-dark
                            {% if reservation.bill %}disabledItem{% endif %}" title="Modifier la réservation">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="#006633" fill-rule="evenodd" clip-rule="evenodd"><path d="M11.32 6.176H5c-1.105 0-2 .949-2 2.118v10.588C3 20.052 3.895 21 5 21h11c1.105 0 2-.948 2-2.118v-7.75l-3.914 4.144A2.46 2.46 0 0 1 12.81 16l-2.681.568c-1.75.37-3.292-1.263-2.942-3.115l.536-2.839c.097-.512.335-.983.684-1.352z"/><path d="M19.846 4.318a2.2 2.2 0 0 0-.437-.692a2 2 0 0 0-.654-.463a1.92 1.92 0 0 0-1.544 0a2 2 0 0 0-.654.463l-.546.578l2.852 3.02l.546-.579a2.1 2.1 0 0 0 .437-.692a2.24 2.24 0 0 0 0-1.635M17.45 8.721L14.597 5.7L9.82 10.76a.54.54 0 0 0-.137.27l-.536 2.84c-.07.37.239.696.588.622l2.682-.567a.5.5 0 0 0 .255-.145l4.778-5.06Z"/></g></svg>
                                    </a>
                                    <a href="{{ path('app_reservations_events_refund', {'id': reservation.id}) }}" class="btn btn-dark {% if reservation.bill is null or reservation.totalDepositReturned >= reservation.totalDeposit %}disabledItem{% endif %}" title="Rembourser la réservation">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#95C11F" d="M18 11H6a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8a2 2 0 0 0-2-2m0 6H6v-3h12m-1-9v5h-1.5V6.5H9.88l2.42 2.43L11.24 10L7 5.75l4.24-4.25l1.06 1.07L9.88 5Z"/></svg>
                                    </a>
                                    <a href="{{ path('app_reservations_events_change_active', {'id': reservation.id}) }}" class="btn btn-dark
                            {% if not reservation.isActive and reservation.bill.PaymentIntentId is not null %}
                                disabledItem
                            {% endif %}" title="Changer le type actif">
                                        {% if reservation.isActive %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#006633" fill-rule="evenodd" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10m-4.906-3.68L18.32 7.094A8 8 0 0 1 7.094 18.32M5.68 16.906A8 8 0 0 1 16.906 5.68z"/></svg>
                                        {% else %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#CE1104" fill-rule="evenodd" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10m-4.906-3.68L18.32 7.094A8 8 0 0 1 7.094 18.32M5.68 16.906A8 8 0 0 1 16.906 5.68z"/></svg>
                                        {% endif %}
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="alert alert-secondary my-3">Aucune réservations d'événements trouvées</p>
        {% endif %}

        <div class="col-10 my-4">
            <div id="calendar" data-reservations='{{ reservationsMin|json_encode() }}'></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('libs/fullcalendar/dist/index.global.min.js') }}"></script>
    <script src="{{ asset('js/admin/reservationsRentals.js') }}"></script>
{% endblock %}