{% extends 'base.html.twig' %}

{% block title %}Modification Image d'accueil de {{ event.title }}{% endblock %}

{% block body %}
    <div class="contentMargin d-flex flex-column justify-content-center align-items-center">
        <h3 class="text-center">Modification Image d'accueil de {{ event.title }}</h3>
        <div class="bg-darkGreen p-3 rounded-4">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn-lightGreen" type="submit">Modifier</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}