{% extends 'base.html.twig' %}

{% block title %}Comments index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin/datatable.js') }}"></script>
    <script src="{{ asset('js/admin/deleteModal.js') }}"></script>
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.0/css/dataTables.bootstrap5.css">
    <div class="contentMargin d-flex flex-column align-items-center justify-content-center mb-5">
        {% include 'admin/navbar/index.html.twig' %}
        <h1>Comments index</h1>

        {% if comments|length > 0 %}
            <div class="w-75">
                <table class="table table-hover" id="myTable">
                    <thead>
                    <tr>
                        <th class="text-center align-middle">Id</th>
                        <th class="text-center align-middle">User</th>
                        <th class="text-center">Contenu</th>
                        <th class="text-center align-middle">Créé</th>
                        <th class="text-center align-middle">Désactivé le</th>
                        <th class="text-center align-middle">Modifié le</th>
                        <th class="text-center align-middle">Taux</th>
                        <th class="text-center align-middle">Actif</th>
                        <th class="text-center align-middle">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for comment in comments %}
                        <tr {% if not comment.isActive %}class="table-warning"{% endif %}>
                            <td class="text-center align-middle">{{ comment.id }}</td>
                            <td class="text-center align-middle">
                                <a href="{{ path('app_users_show', {id:comment.user.id}) }}">{{ comment.user.firstname }} {{ comment.user.lastname }}</a>
                            </td>
                            <td class="align-middle">{{ comment.content|slice(0, 40) ~ '...' }}</td>
                            <td class="text-center align-middle">{{ comment.createdAt ? comment.createdAt|date('d/m/Y') : '' }}</td>
                            <td class="align-middle text-center">{{ comment.disabledAt == null ? '❌' : comment.disabledAt|date('d/m/Y') }}</td>
                            <td class="align-middle text-center">{{ comment.changedAt == null ? '❌' : comment.changedAt|date('d/m/Y') }}</td>
                            <td class="text-center align-middle">{{ comment.rating }}</td>
                            <td class="text-center align-middle">{{ comment.isActive ? '✅️' : '❌' }}</td>
                            <td class="text-center align-middle">
                                <div class="d-flex gap-2 justify-content-center">
                                    <a href="{{ path('app_comments_show', {id:comment.id}) }}" class="btn btn-dark">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16"><path fill="#F7D844" d="M8 1a7 7 0 1 1 0 14A7 7 0 0 1 8 1m0 5.25a.749.749 0 1 0 0-1.5a.749.749 0 0 0 0 1.498m.5 1.25a.5.5 0 0 0-1 0v3a.5.5 0 0 0 1 0z"/></svg>
                                    </a>
                                    <a href="{{ path('app_comments_change_active', {'id': comment.id}) }}" class="btn btn-dark">
                                        {% if comment.isActive %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#006633" fill-rule="evenodd" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10m-4.906-3.68L18.32 7.094A8 8 0 0 1 7.094 18.32M5.68 16.906A8 8 0 0 1 16.906 5.68z"/></svg>
                                        {% else %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#CE1104" fill-rule="evenodd" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10m-4.906-3.68L18.32 7.094A8 8 0 0 1 7.094 18.32M5.68 16.906A8 8 0 0 1 16.906 5.68z"/></svg>
                                        {% endif %}
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="alert alert-secondary">Aucun commentaires</p>
        {% endif %}

        <a href="{{ path('app_comments_new') }}">Create new</a>
    </div>
{% endblock %}
