{% extends 'base.html.twig' %}

{% block title %}Commentaire de {{ comment.user.firstname }} {{ comment.user.lastname }}s{% endblock %}

{% block body %}
    <div class="contentMargin d-flex flex-column align-items-center justify-content-center mb-5 gap-2">
        <div class="d-flex mb-3 w-75 justify-content-start gap-2">
            <a href="{{ path('app_comments_index') }}" class="btn-yellow">Retour à la liste</a>
        </div>
        <div class="{% if not comment.isActive %}alert alert-danger{% endif %} d-flex flex-column align-items-center justify-content-center mb-5 gap-2 rounded-4 w-100">
            <h1 class="text-center">{{ comment.id }}: Commentaire de {{ comment.user.firstname }} {{ comment.user.lastname }}</h1>
            <span class="bg-darkGreen p-2 rounded-3 h2">{{ comment.rating }}/5</span>
            <div class="d-flex gap-2 w-75">
                <p class="bg-lightGreen p-4 rounded-4 w-50">{{ comment.content|capitalize }}</p>
                <ul class="w-50 list-group rounded-4">
                    <li class="list-group-item">
                        <p>Créé le: {{ comment.createdAt|date('d/m/Y') }}</p>
                    </li>
                    <li class="list-group-item">
                        <p>Location: <a href="{{ path('app_rental', {id:comment.rentals.id}) }}" data-turbo="false">{{ comment.rentals.title|capitalize }}</a></p>
                    </li>
                    <li class="list-group-item">
                        <p>Actif: {{ comment.isActive ? '✅️' : '❌' }}</p>
                    </li>
                    <li class="list-group-item">
                        <p>Désactivé le: {% if comment.disabledAt %}{{ comment.disabledAt|date("d/m/Y H:i:s", "UTC") }}{% else %}❌{% endif %}</p>
                    </li>
                    <li class="list-group-item">
                        <p>Changé le: {% if comment.changedAt %}{{ comment.changedAt|date('d/m/Y') }}{% else %}❌{% endif %}</p>
                    </li>
                </ul>
            </div>
        </div>
        <a href="{{ path('app_comments_change_active', {'id': comment.id}) }}" class="{% if comment.isActive %}btn-red{% else %}btn-lightGreen2{% endif %}">
            {% if comment.isActive %}
                Désactiver
            {% else %}
                Activer
            {% endif %}
        </a>
    </div>
{% endblock %}
