{% extends 'base.html.twig' %}

{% block title %}Remboursement{% endblock %}

{% block body %}
    <div class="contentMargin d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex w-75 justify-content-start gap-2">
            <a href="{{ path('app_reservations_rentals_index') }}" class="btn-yellow mb-4">Revenir à la liste des réservations</a>
        </div>
        <h3 class="text-center">Remboursement de {{ rental.title }}</h3>
        <p class="text-center h5">Pour <span class="color-darkGreen">{{ user.firstname }} {{ user.lastname }}</span></p>
        <p class="text-center">Le prix total de la réservation est de {{ reservation.totalPrice|number_format(2, ',', '') }}€</p>
        {% set now = "now"|date("Y-m-d") %}
        {% set rental_start = reservation.dateStart|date("Y-m-d") %}

        {% set days_diff = date(rental_start).diff(date(now)).days %}

        <div class="text-center alert alert-{% if date(rental_start) >= date(now) and days_diff >= 3 %}info{% else %}warning{% endif %}">
            <p>Le logement est dans {{ days_diff }} jour(s) !</p>
            {% if date(rental_start) >= date(now) and days_diff > 30 %}
                <p>Il est recommandé de rembourser à 90% ({{ (reservation.totalPrice * 0.9)|number_format(2, ',', '') }}€) l'utilisateur.</p>
            {% elseif date(rental_start) >= date(now) and days_diff <= 30 and days_diff >= 15 %}
                <p>Il est recommandé de rembourser à 50% ({{ (reservation.totalPrice * 0.5)|number_format(2, ',', '') }}€) l'utilisateur.</p>
            {% else %}
                <p>Il est recommandé de ne pas rembourser l'utilisateur</p>
            {% endif %}
            {% if reservation.totalPrice > 0 %}
                <p>Vous avez déja remboursé {{ reservation.totalDepositReturned|number_format(2, ',', '') }}€, le maximum remboursable désormais est de <b>{{ (reservation.totalPrice - reservation.totalDepositReturned)|number_format(2, ',', '') }}€</b></p>
            {% endif %}
        </div>

        <div class="bg-darkGreen p-3 rounded-4 mx-4">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="button" class="btn-lightGreen" data-bs-toggle="modal" data-bs-target="#confirmRefundModal">
                Rembourser
            </button>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="modal fade" id="confirmRefundModal" tabindex="-1" aria-labelledby="confirmRefundLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-dark">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmRefundLabel">Confirmer le remboursement</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir procéder au remboursement ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-signup" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn-lightGreen2" onclick="document.querySelector('form').submit();">Confirmer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}