{% extends 'base.html.twig' %}

{% block title %}Tous les événements{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('libs/jquery/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ asset('libs/magnific-popup/dist/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('js/events.js') }}"></script>
{% endblock %}

{% block body %}
    <header class="bg-darkGreen contentMargin d-flex justify-content-center flex-column align-items-center pb-4">
        <h2 class="text-center color-white">Tous les événements</h2>
        <div class="mt-5 w-75">
            <div class="row justify-content-center">
                {% for event in events %}
                    <div class="eventsItem d-none col-sm-6 mb-4 px-3 d-flex">
                        <div class="card event-card w-100 h-100 border-0 rounded-4 d-flex flex-column">
                            <div class="row g-0 h-100">
                                <div class="col-md-5 h-100">
                                    <img src="{{ asset('img/imageAccueil.jpg') }}" class="img-fluid rounded-start-4 h-100 w-100 object-fit-cover" alt="Tir à l'arc">
                                </div>
                                <div class="col-md-7 d-flex flex-column">
                                    <div class="card-body d-flex flex-column">
                                        <h4 class="card-title">
                                            <a href="{{ path('app_event', {id:event.id}) }}" class="text-decoration-none color-darkGreen">
                                                {% set words = event.content|split(' ') %}
                                                {% if words|length <= 5 %}
                                                    {{ event.content }}
                                                {% else %}
                                                    {{ words|slice(0, 5)|join(' ') ~ '...' }}
                                                {% endif %}
                                            </a>
                                        </h4>

                                        <ul class="d-flex flex-column list-unstyled gap-1">
                                            <li>
                                                {% if event.ageRequirement == 0 %}
                                                    <span class="fw-bold">Pour tout le monde !</span>
                                                {% else %}
                                                    À partir de <span class="fw-bold">{{ event.ageRequirement }} ans</span>
                                                {% endif %}
                                            </li>
                                            <li>
                                                <img src="{{ asset('styles/img/location.svg') }}" alt="Location de l'événement">
                                                {{ event.location }}
                                            </li>
                                            <li>
                                                <img src="{{ asset('styles/img/calendar.svg') }}" alt="Date de l'événement">
                                                le {{ event.date|date('d/m/Y') }}
                                                {% if event.isPast() %}
                                                    <span class="color-red fw-bold"> (Événement déjà passé)</span>
                                                {% endif %}
                                            </li>
                                            <li>
                                                {{ event.nbPlaces }} places
                                                <span class="color-darkGreen fw-bold">
                                                    {% if not event.isPast() %}
                                                        {% if event.getRemainingPlaces() <= 0 %}
                                                            <span class="color-red">(Complet !)</span>
                                                        {% else %}
                                                            ({{ event.getRemainingPlaces() }} places restantes)
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                            </li>
                                        </ul>
                                        <div class="mt-auto">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <a href="{{ path('app_event', {id:event.id}) }}" class="btn-yellow">Voir plus</a>
                                                <span class="price h3">{{ event.price|number_format(2, ',', '') }}€/pers</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <button class="btn-yellow voir-plus">Voir plus...</button>
    </header>
{% endblock %}
